extends layouts/main

block content
    //- 
        item is just a name of variable that's given here
    .videos 
        each item in videos 
            h1= item.title
            p= item.description